h1{
font-size: 30px;
text-align: center;
color: #FF9696
}
h2{
font-size: 30px;
text-align: center;
color: #FF9696
}
h3{
font-size: 30px;
text-align: center;
color: #FF9696
}
h4{
font-size: 30px;
text-align: center;
color: #FF9696
}
h5{
font-size: 30px;
text-align: center;
color: #FF9696
}
body{
	background-color: #FF9696;
font-size: 16px;
font-family: Helvetica, sans-serif;
color: #242424;
}
